html{
    font-size: 0.625rem;
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    color: white;
    background-color: #111827;

}

header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    margin: 1.5em;
    padding: 2em;
    border-radius: 0.5em;
}

main{
    display: flex;
    gap: 1.5em;
    margin: 1.5em;
}

footer{
    background-color: #1f2937;
    margin: 1em;
    padding: 2em;
    text-align: center;
    border-radius: 0.5em;
}

* {
  /*-user-drag: none;        /* Pour Safari */
  -webkit-user-drag: none; /* Pour Chrome */
  user-select: none;       /* Empêche aussi la sélection de texte */
}

aside.menu_balise{
    background-color: #1f2937;
    border-radius: 0.5em;
    padding: 1em;    
    width: 8em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

aside.instuction{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    border-radius: 0.5em;
    padding:1em;
    margin: 1em;
}

button{
    all:unset;
    background-color: #374151;
    cursor:pointer;
    padding: 0.5em;
    border-radius: 0.25em;
    font-weight: normal;
}

button.active{
    font-weight: bold;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

h3{
    font-size: 2rem;
    margin-bottom: 0.5em;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

p{
    margin-top: 1em;
    margin-bottom: 1em;
}

/*-------------------------*/
/*-----------id------------*/
/*-------------------------*/

#content{
    background-color: #1f2937;
    border-radius: 0.5em;
    padding:1em;
    width: 100%;
}

#fileInput{
    display: none;
}

#image_maquette:not([src]), .image_maquette[src=""] {
    display: none;
}

#image_maquette{
    width: 100%;     
    height: auto;
}

#load_button{
    background-color: #2563eb;
}

#load_button:hover{
    background-color: #18439e;
}

#load_button:active{
    background-color: #8fb0f5;
}

#clear_button{
    background-color: #25eb63;
}

#clear_button:hover{
    background-color: #189e43;
}

#clear_button:active{
    background-color: #8ff5b0;
}

#clear_balise{
    background-color: #eb2563;
}

#clear_balise:hover{
    background-color: #9e1843;
}

#clear_balise:active{
    background-color: #f58fb0;
}

#text_load_image{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#work_content:hover{
    cursor: crosshair;
}

#work_content{
    position:relative;
    border-radius: 0.5em;
    background-color: #374151;
    min-height: 735px;
    margin: auto;
    padding: 2em;
}

/*-------------------------*/
/*----------class----------*/
/*-------------------------*/

.box{
    position:absolute;
}

.box-red{
border: 4px solid #FF0000;
background: rgba(255, 0, 0, 0.1);
}
.box-lime{
border: 4px solid #00FF00;
background: rgba(0, 255, 0, 0.1);
}
.box-blue{
border: 4px solid #0000FF;
background: rgba(0, 0, 255, 0.1);
}
.box-yellow{
border: 4px solid #FFFF00;
background: rgba(255, 255, 0, 0.1);
}
.box-magenta{
border: 4px solid #FF00FF;
background: rgba(255, 0, 255, 0.1);
}
.box-cyan{
border: 4px solid #00FFFF;
background: rgba(0, 255, 255, 0.1);
}
.box-orange{
border: 4px solid #FFA500;
background: rgba(255, 165, 0, 0.1);
}
.box-purple{
border: 4px solid #800080;
background: rgba(128, 0, 128, 0.1);
}
.box-green{
border: 4px solid #008000;
background: rgba(0, 128, 0, 0.1);
}
.box-navy{
border: 4px solid #000080;
background: rgba(0, 0, 128, 0.1);
}
.box-maroon{
border: 4px solid #800000;
background: rgba(128, 0, 0, 0.1);
}
.box-olive{
border: 4px solid #808000;
background: rgba(128, 128, 0, 0.1);
}
.box-teal{
border: 4px solid #008080;
background: rgba(0, 128, 128, 0.1);
}
.box-silver{
border: 4px solid #C0C0C0;
background: rgba(192, 192, 192, 0.1);
}
.box-gold{
border: 4px solid #FFD700;
background: rgba(255, 215, 0, 0.1);
}
.box-deeppink{
border: 4px solid #FF1493;
background: rgba(255, 20, 147, 0.1);
}
.box-indigo{
border: 4px solid #4B0082;
background: rgba(75, 0, 130, 0.1);
}
.box-saddlebrown{
border: 4px solid #8B4513;
background: rgba(139, 69, 19, 0.1);
}
.box-tomato{
border: 4px solid #FF6347;
background: rgba(255, 99, 71, 0.1);
}
.box-turquoise{
border: 4px solid #40E0D0;
background: rgba(64, 224, 208, 0.1);
}
.box-mediumpurple{
border: 4px solid #9370DB;
background: rgba(147, 112, 219, 0.1);
}
.box-limegreen{
border: 4px solid #32CD32;
background: rgba(50, 205, 50, 0.1);
}
.box-darkorange{
border: 4px solid #FF8C00;
background: rgba(255, 140, 0, 0.1);
}
.box-dodgerblue{
border: 4px solid #1E90FF;
background: rgba(30, 144, 255, 0.1);
}
.box-crimson{
border: 4px solid #DC143C;
background: rgba(220, 20, 60, 0.1);
}
.box-darkturquoise{
border: 4px solid #00CED1;
background: rgba(0, 206, 209, 0.1);
}
.box-greenyellow{
border: 4px solid #ADFF2F;
background: rgba(173, 255, 47, 0.1);
}
.box-hotpink{
border: 4px solid #FF69B4;
background: rgba(255, 105, 180, 0.1);
}
.box-darkslategray{
border: 4px solid #2F4F4F;
background: rgba(47, 79, 79, 0.1);
}
.box-khaki{
border: 4px solid #F0E68C;
background: rgba(240, 230, 140, 0.1);
}

.btn-red.active { background: #FF0000; }
.btn-lime.active { background: #00FF00; }
.btn-blue.active { background: #0000FF; }
.btn-yellow.active { background: #FFFF00; }
.btn-magenta.active { background: #FF00FF; }
.btn-cyan.active { background: #00FFFF; }
.btn-orange.active { background: #FFA500; }
.btn-purple.active { background: #800080; }
.btn-green.active { background: #008000; }
.btn-navy.active { background: #000080; }
.btn-maroon.active { background: #800000; }
.btn-olive.active { background: #808000; }
.btn-teal.active { background: #008080; }
.btn-silver.active { background: #C0C0C0; }
.btn-gold.active { background: #FFD700; }
.btn-deeppink.active { background: #FF1493; }
.btn-indigo.active { background: #4B0082; }
.btn-saddlebrown.active { background: #8B4513; }
.btn-tomato.active { background: #FF6347; }
.btn-turquoise.active { background: #40E0D0; }
.btn-mediumpurple.active { background: #9370DB; }
.btn-limegreen.active { background: #32CD32; }
.btn-darkorange.active { background: #FF8C00; }
.btn-dodgerblue.active { background: #1E90FF; }
.btn-crimson.active { background: #DC143C; }
.btn-darkturquoise.active { background: #00CED1; }
.btn-greenyellow.active { background: #ADFF2F; }
.btn-hotpink.active { background: #FF69B4; }
.btn-darkslategray.active { background: #2F4F4F; }
.btn-khaki.active { background: #F0E68C; }

.interaction{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.vignette{
    margin: 0;    
    padding:0.25em;
}


